/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none !important;
  list-style-type: none !important;
}

li {
  list-style: none !important;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.o-flex_full {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-flex_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-flex {
  display: flex;
  align-items: center;
}

.o-flex_full__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  .o-flex_full {
    flex-direction: column;
    align-items: left;
  }
}
@media screen and (max-width: 600px) {
  .o-flex_full__wrap {
    flex-direction: column;
  }
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 8px;
  background: linear-gradient(#0074C8, #C9E4E2);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Franklin Gothic A1", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.container {
  max-width: 480px;
  margin: 0px auto;
  text-align: center;
}

section {
  margin: 40px auto;
  text-align: center;
}

.daily {
  max-width: 380px;
  margin: 0 auto;
  background-color: rgba(16, 64, 132, 0.3);
  padding: 16px 24px;
  border-radius: 20px;
}
.daily_title {
  font-size: 16px;
}
.daily p {
  margin-bottom: 8px;
}
.daily_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.daily_content {
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.daily_tempContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 40%;
}
.daily_tempContent p {
  margin: 0px 4px;
}
.daily_time {
  width: 10%;
}
.daily_maxTemp {
  color: #FF001F;
}
.daily_minTemp {
  color: rgb(0, 171, 255);
}
.daily_weather {
  max-width: 60px;
}

.current {
  max-width: 380px;
  margin: 0 auto 40px;
}
.current_tempContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.current_tempContent p {
  margin: 0 8px;
}
.current_components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(16, 64, 132, 0.3);
  padding: 16px 24px;
  border-radius: 20px;
}
.current_components img {
  width: 24px;
}
.current_tempContent {
  width: 80px;
  margin: 8px auto;
}
.current_MaxTemp {
  color: #FF001F;
}
.current_MinTemp {
  color: #0029ff;
}
.current_Weather {
  width: 240px;
}
.current_temp {
  margin-bottom: 8px;
  font-size: 30px;
  transform: translateY(-80%);
}

#city {
  font-size: 36px;
  transform: translateY(-80%);
}

.hourly {
  max-width: 380px;
  margin: 0 auto 40px;
  background-color: rgba(16, 64, 132, 0.3);
  padding: 16px 24px;
  border-radius: 20px;
}
.hourly_title {
  font-size: 16px;
}
.hourly p {
  margin-bottom: 8px;
}
.hourly_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.hourly_content {
  margin: 8px;
}
.hourly_content img {
  max-width: 60px;
}
.hourly_headingContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.load_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(#0074C8, #C9E4E2);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.load_container.none {
  display: none;
  z-index: -1000;
}

.load_btn {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  line-height: 200px;
  overflow: hidden;
}
.load_btn::after {
  content: "";
  position: absolute;
  background: #fff;
  bottom: -200px;
  right: 0;
  width: 1px;
  height: 200px;
  animation: bottomAnim 1.5s linear 0.75s infinite;
}
.load_btn::before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: -200px;
  width: 200px;
  height: 1px;
  animation: leftAnim 1.5s linear 0s infinite;
}

.load_btn button {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.load_btn button::after {
  content: "";
  position: absolute;
  background: #fff;
  top: -200px;
  left: 0;
  width: 1px;
  height: 200px;
  animation: topAnim 1.5s linear 0.75s infinite;
}
.load_btn button::before {
  content: "";
  position: absolute;
  background: #fff;
  top: 0;
  right: -200px;
  width: 200px;
  height: 1px;
  animation: rightAnim 1.5s linear 0s infinite;
}

@keyframes topAnim {
  0% {
    top: -200px;
  }
  100% {
    top: 200px;
  }
}
@keyframes bottomAnim {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 200px;
  }
}
@keyframes rightAnim {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}
@keyframes leftAnim {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}/*# sourceMappingURL=app.css.map */