.hourly {
  max-width: 380px;
  margin: 0 auto 40px;
    background-color: rgba(16,64,132,0.3);
    padding: 16px 24px;
    border-radius: 20px;
  &_title {
    font-size: 16px;
  } 
  p {
    margin-bottom: 8px;
  }
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }
  &_content {
    margin: 8px;
    img {
      max-width: 60px;
    }
  }
  &_headingContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}